/* Landing Page */

.none {
    display: none;
}

.landing-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
}

.main-signup {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
}

.landing-login{
    color:#000000;
    font-size: 16px;
    padding-top: 1px;
    font-weight: bold;
    margin-right:15px;
    cursor: pointer;
}

.landing-button{
    display: flex;
}

.landing-signup{
    background-color: #000000;
    color: white;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    
}

.landing-button-signup{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

a {
    text-decoration: none;
}

.landing-section1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-section1-p1{
    width: 60%;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: #050237;
    font-weight: bold;
    line-height: 1.5em;

}

.landing-section1-p2{
    margin-top:0px;
}

.landing-input{
    width: 400px;
    border-radius: 10px;
    height: 35px;
    background-color: #F7F7F7;
    padding-left: 10px;
    padding-top: 5px;
}

.landing-input-h4{
    margin:0;
    display: inline-block;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #C4336E;
  }

  .landing-section2 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top:40px;
  }

  .landing-section2-button{
    background: #C4336E;
    color: white;
    border-radius: 10px;
    border-color: #C4336E;
    width: 200px;
    margin-left:10px;
  }

  /* SignUp */

.signup-button{
    display: flex;
}

.signup-acc{
    margin-right: 10px;
}

.signup-section1{
    width: 30%;
    margin-left: auto;
    margin-right:auto;
}

.signup-h3{
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
}

.signup-social{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.signup-hr{
    margin-top: 50px;
}

.signup-back{
    background-color: white;
    width:180px;
    padding: 5px;
    position: relative;
    top: -35px;
    left: 120px;
    text-align: center;
}

.signup-input{
    display: block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #F7F7F7;
    border-radius: 10px;
    border-color: #F7F7F7;
    border-width: 0px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.signup-submit-button{
    display: block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4336E;
    border-color: #C4336E;
    height: 40px;
    color: white;
    border-radius: 10px;

}

.signup-terms{
    text-align: center;
    margin-top: 30px;
    color: #8B8B8B;
}

/* Login */

.login-input{
    display: block;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    background-color: #F7F7F7;
    border-radius: 10px;
    border-color: #F7F7F7;
    border-width: 0px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.login-main{
    background-color: #808080;
    opacity: 90%;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 3;
}

.login-section1{
    width: 40%;
    margin-left: auto;
    margin-right:auto;
    background-color: white;
    position: relative;
    border-radius: 10px;
    padding: 60px; 
    z-index: 20;
    
}

.login-h3{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.login-back{
    background-color: white;
    width:170px;
    padding: 5px;
    position: relative;
    top: -40px;
    left: 30%;
    text-align: center;
}

.modal-login{
    background-color: rgba(222, 222, 222, 0.7);
    box-sizing: border-box;
    height: 100vh;
    padding-top: 150px;
    position: absolute;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);
}

.arrow {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 30px;
}

.arrow-display {
    display: flex;
}

.submit-but{
    background-color: #c84076;
    color: white;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: #c84076;
    padding: 10px;
    margin-bottom: 10px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.0em;
  height: 2.0em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #c84076;
  font-size: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.creator-hover{
    border: 2px solid #c4326d;
}

.pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pics {
    width:60px;
    height:60px;
    border-radius: 50%;
}

.copy-button{
    cursor: pointer;
}


  